<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather</p>
        <div>
            <form>
                <input type="text" name="" id="" placeholder="Location">
                <button>Search</button>
            </form>
        </div>
        {{!-- <img class="weather" src="./img/weather.jpg" alt=""> --}}
        <p id="message-1" style="color: rgb(255, 0, 0);"></p>
        <p id="message-2" style="color: rgb(255, 0, 0);"></p>
    </div>
     
    {{>footer}}
    <script src="./js/index.js"></script>
</body>
</html>